<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1011362886006-v9bkagikh6bpgf8jm5dspg78ai9571ri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011362886006-v9bkagikh6bpgf8jm5dspg78ai9571ri</string>
	<key>API_KEY</key>
	<string>AIzaSyBTTpOl9BGPHY52lVuhl4JnT8x7KtU3G5k</string>
	<key>GCM_SENDER_ID</key>
	<string>1011362886006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moonko.platformer</string>
	<key>PROJECT_ID</key>
	<string>platformer-761c8</string>
	<key>STORAGE_BUCKET</key>
	<string>platformer-761c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011362886006:ios:43bc2be06565b4da</string>
	<key>DATABASE_URL</key>
	<string>https://platformer-761c8.firebaseio.com</string>
</dict>
</plist>